.sidebar-wrapper {
  min-height: 100vh;

  .container {
    display: flex;

    .body-left-container {
      background-color: #343a40;
      padding         : 20px;

      .navigation-section {
        display        : flex;
        justify-content: center;
        gap            : 20px;
        align-items    : center;
        margin-bottom  : 20px;

        .nav {
          display         : flex;
          background-color: #1f2125;
          padding         : 5px 6.5px;
          border-radius   : 20px;
          gap             : 14px;

          .item {
            color  : #e7e9ea;
            padding: 5px 16.5px;
            cursor : pointer;
          }

          .selected-item {
            background-color: #343a40;
            border-radius   : 20px;

          }
        }

        .close {
          color: #e7e9ea;
          cursor: pointer;
        }
      }

      .pages-details-container {
        display       : flex;
        flex-direction: column;
        gap           : 20px;

        .search {

          input {
            background-color: #1f2125;
            padding         : 15px 10px;
            border-radius   : 10px;
            border          : none;
            outline         : none;
            color           : #e7e9ea;
            width           : calc(100% - 20px);
          }
        }

        .pages {
          max-height: calc(100vh - 150px);
          overflow-y: scroll;

          ul {
            list-style-type: none;
            padding        : 0;
            margin         : 0;

            li {
              margin : 0 0 0 15px;
              padding: 10px 24px;
              color  : #e7e9ea;
              cursor : pointer;
            }

            li:hover,
            .selected-page {
              background-color: #212529;
              border-radius   : 0.5rem;
            }
          }
        }
      }

      .pages-details-container-surah-section {
        display: flex;
        gap    : 5px;

        .pages-details-container {
          display       : flex;
          flex-direction: column;
          gap           : 20px;

          .search {

            input {
              background-color: #1f2125;
              padding         : 15px 10px;
              border-radius   : 10px;
              border          : none;
              outline         : none;
              color           : #e7e9ea;
              width           : calc(100% - 20px);
            }
          }

          .pages {
            max-height: calc(100vh - 150px);
            overflow-y: scroll;

            ul {
              list-style-type: none;
              padding        : 0;
              margin         : 0;

              li {
                margin : 0;
                padding: 10px 24px;
                color  : #e7e9ea;
                cursor : pointer;
              }

              li:hover,
              .selected-page {
                background-color: #212529;
                border-radius   : 0.5rem;
              }
            }
          }
        }

        .width-left {
          width: 70%;
          padding: 0 5px 0 0;

        }

        .width-right {
          width: 30%;
          border-left: 1px solid #464b50;
          padding: 0 0 0 5px;
        }
      }

    }
  }
}
