<div class="sidebar-wrapper">
  <div class="container">
    <div class="body-left-container">
      <div class="navigation-section">
        <div class="nav">
          <div class="item" [ngClass]="{'selected-item': selectedNavigation === 'surah'}"
            (click)="selectedNavigation ='surah';onSurahChange(1)">Surah</div>
          <div class="item" [ngClass]="{'selected-item': selectedNavigation === 'juz'}"
            (click)="selectedNavigation ='juz';onJuzChange(1)">Juz</div>
          <div class="item" [ngClass]="{'selected-item': selectedNavigation === 'pages'}"
            (click)="selectedNavigation = 'pages';onPageChange(1)">Page</div>
        </div>
        <div class="close">
          <fa-icon (click)="api.isSidebarShow = !api.isSidebarShow" [icon]="faXmark" class="arrow"></fa-icon>
        </div>
      </div>
      <div class="pages-details-container" *ngIf="selectedNavigation === 'pages'">
        <div class="search">
          <input type="text" name="" id="" [(ngModel)]="pageSearch" placeholder="Search Page"
            (keyup)="FilterPageArray()">
        </div>
        <div class="pages">
          <ul>
            <li [ngClass]="{'selected-page': selectedPage === pageData.page}"
              *ngFor="let pageData of totalPagesArrayFiltered" (click)="onPageChange(pageData.page)">Page
              {{pageData.page}}</li>
          </ul>
        </div>
      </div>
      <div class="pages-details-container" *ngIf="selectedNavigation === 'juz'">
        <div class="search">
          <input type="text" name="" id="" [(ngModel)]="juzSearch" placeholder="Search Juz" (keyup)="FilterJuzArray()">
        </div>
        <div class="pages">
          <ul>
            <li [ngClass]="{'selected-page':selectedPage === juz.juzNo}" *ngFor="let juz of totalJuzArrayFiltered"
              (click)="onJuzChange(juz.juzNo)">Juz {{juz.juzNo}}
            </li>
          </ul>
        </div>
      </div>
      <div class="pages-details-container-surah-section" *ngIf="selectedNavigation === 'surah'">
        <div class="pages-details-container width-left">
          <div class="search">
            <input type="text" name="" id="" placeholder="Search Surah" [(ngModel)]="surahSearch"
              (keyup)="FilterSearchArray()">
          </div>
          <div class="pages">
            <ul>
              <li [ngClass]="{'selected-page': selectedPage === chapter.id}"
                *ngFor="let chapter of filteredChaptersList" (click)="onSurahChange(chapter.id)">{{chapter.id}} <span>{{
                  chapter.name_simple}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="pages-details-container width-right">
          <div class="search">
            <input type="text" name="" id="" placeholder="Verse" [(ngModel)]="verseSearch" (keyup)="FilterVerseArray()">
          </div>
          <div class="pages">
            <ul>
              <li [ngClass]="{'selected-page': selectedVerse === verse.page}" *ngFor="let verse of filteredVersesArray"
                (click)="onVerseChange(verse.page)">{{verse.page}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
