.listing-wrapper {
  display: flex;
  padding: 2px 0;

  app-sidebar {
    width: 20%;
  }

  .body-right-wrapper {
    width     : 80%;
    margin-top: 40px;

    .body-right-container {
      width : 80%;
      margin: auto;

      .surah-details {
        display        : flex;
        justify-content: space-between;
        align-items    : center;

        .translation-details {
          display       : flex;
          flex-direction: column;
          gap           : 5px;

          p {
            margin: 0;
            color : #e7e9ea;

            .change {
              color : #2ca4ab;
              cursor: pointer;
            }

            .change:hover {
              text-decoration: underline;
            }
          }
        }

        .play-audio {
          display       : flex;
          flex-direction: column;
          align-items   : center;
          gap           : 15px;

          .para {
            display: flex;
            gap    : 9px;
            padding: 5px;
            cursor : pointer;

            p {
              margin: 0;
            }
          }

          .info {
            color: #e7e9ea;
          }

          .info:hover {
            background-color: #343a40;
          }

          .audio {
            color: #2ca4ab;
          }

          .audio:hover {
            background-color: #2ca4ab;
            background-image: linear-gradient(to right, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75));
          }
        }
      }

      .surah-card {
        padding        : 20px 9px;
        border-bottom  : 1px solid #464b50;
        display        : flex;
        justify-content: space-between;
        gap            : 20px;
        align-items    : center;

        .surah-card-options {
          display       : flex;
          flex-direction: column;
          color         : #717477;
          gap           : 9px;

          span {
            .icon {
              cursor: pointer;
            }
          }
        }

        .surah-word-details {
          flex: 1;

          .word-in-arabic-container {
            display       : flex;
            flex-direction: row-reverse;
            flex-wrap     : wrap;
            gap           : 5px;

            .word-in-arabic {
              color      : #e7e9ea;
              text-align : right;
              font-size  : 28px;
              cursor     : pointer;
              line-height: 28px;
            }

            .word-in-arabic:hover {
              color: #2ca4ab;
            }

            .word-in-arabic-higlight {
              color: #2ca4ab;
            }
          }

          .word-in-english-container {
            margin-top: 50px;

            .word-in-english,
            .word-in-urdu {
              color        : #e7e9ea;
              font-size    : 28px;
              margin-bottom: 30px;
              line-height  : 30px;
            }

            .word-in-english {
              text-align: left;
            }

            .word-in-urdu {
              text-align: right;
            }
          }
        }
      }
    }
  }

  .hidden-sidebar {
    display: none;
  }

  .max-body-width {
    width: 100%;
  }
}
