<div class="listing-wrapper">
  <app-sidebar [ngClass]="{'hidden-sidebar': !api.isSidebarShow}"></app-sidebar>
  <div class="body-right-wrapper" [ngClass]="{'max-body-width': !api.isSidebarShow}">
    <div class="body-right-container">
      <div class="surah-details">
        <div class="translation-details">
          <p>Translation By</p>
          <p>Dr. Mustafa Khattab, the Clear Quran <span class="change">(Change)</span></p>
        </div>
        <div class="play-audio" *ngIf="pageData?.verses">
          <div class="para audio" *ngIf="!currentAudio" (click)="onPlayFullAudio()">
            <fa-icon [icon]="faPlay"></fa-icon>
            <p class="">Play Audio</p>
          </div>
          <div class="para audio" *ngIf="currentAudio" (click)="pauseAudio()">
            <fa-icon [icon]="faPause"></fa-icon>
            <p class="">Pause Audio</p>
          </div>
          <p></p>
        </div>
      </div>
      <div class="surah-card" *ngFor="let surrah of pageData?.verses;let surahIndex = index">
        <div class="surah-card-options">
          <span>{{surrah.verse_key}}</span>
          <span>
            <fa-icon class="icon" *ngIf="!currentAudio" [icon]="faPlay" (click)="playVerseAudio(surrah)"></fa-icon>
            <fa-icon class="icon" *ngIf="currentAudio" [icon]="faPause" (click)="pauseAudio()"></fa-icon>
          </span>
          <span>
            <fa-icon [icon]="faComment"></fa-icon>
          </span>
          <span>
            <fa-icon [icon]="faShareNodes"></fa-icon>
          </span>
          <span>...</span>
        </div>
        <div class="surah-word-details">
          <div class="word-in-arabic-container">
            <ng-container *ngFor="let word of surrah?.words;let wordIndex = index">
              <p class="word-in-arabic" *ngIf="wordIndex <surrah.words.length-1"
                [ngClass]="{'word-in-arabic-higlight': selectedWord === surahIndex+' '+wordIndex }"
                (click)="playAudioOfWord(word,wordIndex,surahIndex)">{{word.text_uthmani}}</p>
              <p *ngIf="wordIndex ===surrah.words.length-1" class="word-in-arabic circle"><span>{{word.text_uthmani}}</span></p>
            </ng-container>
          </div>
          <div class="word-in-english-container">
            <p class="word-in-english"
              [ngClass]="{'word-in-english': verse.resource_id === 131,'word-in-urdu': verse.resource_id === 234}"
              *ngFor="let verse of surrah?.translations" [innerHtml]="sanitizer.bypassSecurityTrustHtml(verse.text)">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<audio [src]="currentAudio" (onended)="onAudioEnded()" #audioPlayer></audio>
